:root {
    --color-dark: #222;
    --color-white: #e7e7e7;
}

html {
    width: 300px;
    height: 450px;
}

body {
    background: var(--color-dark);
    color: var(--color-white);

    font-size: 18px;
}

h1{
    font-size: 18px;
}