/* The switch - the box around the slider */
.switch {
    --width: 40px;
    --height: 24px;
    --gap: 4px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    --circle-size: calc(var(--height) - 2 * var(--gap));

    position: absolute;
    content: "";
    height: var(--circle-size);
    width: var(--circle-size);
    left: var(--gap);
    bottom: var(--gap);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    --translate: calc(var(--width) - var(--circle-size) - 2 * var(--gap)); 

    -webkit-transform: translateX(var(--translate));
    -ms-transform: translateX(var(--translate));
    transform: translateX(var(--translate));
}

/* Rounded sliders */
.slider.round {
    border-radius: var(--height);
}

.slider.round:before {
    border-radius: 50%;
}